<div id="questionwrapper" data-controller="edit-question" data-edit-question-target="card">
    <div data-edit-question-target="content" class="<%= 'd-none' if question.errors.any? %>">
      <div class="question-card">
	        <div class="user-card">
            <div class="left">
              <% if question.user.photo.attached? %>
                <%= cl_image_tag question.user.photo.key, class:"avatar-large" %>
              <% else %>
                <%= image_tag('anonymous.webp', class: "avatar-large") %>
              <% end %>
              <div class="wrap">
                <%= link_to upvote_question_path(question), class: "upvote", method: :patch do %>
                  <i id="arrow-up" class="fa-solid fa-chevron-up"></i>
                <% end %>
                <div class="count"><%= question.weighted_score %></div>
                <%= link_to downvote_question_path(question), class: "downvote", method: :patch do %>
                  <i id="arrow-down" class="fa-solid fa-chevron-down"></i>
                <% end %>
              </div>
            </div>

            <div class="right">
              <div class= "user-bio">
                <div class="user-info">
                  <p class="name"><strong><%= question.user.first_name  %> <%= question.user.last_name  %></strong>&nbsp;
                  <% if question.user.university_id != "" %>
                    &nbsp;@&nbsp;<%= University.find(question.user.university_id).name %>
                  <% end %>
                  <span id="time-ago">&nbsp;&nbsp;·&nbsp;&nbsp;<%= time_ago_in_words(question.created_at)%> ago</span></p>
                </div>

                <% if policy(question).edit? %>
                  <p><small><i class="fa-solid fa-pen-to-square" data-action="click->edit-question#displayForm"></i></small></p>
                <% end %>
              </div>

              <div class= "question-content">
                  <h5><%= question.title %></h5>
                  <p><%= question.content %></p>
              </div>

              <% if question.photo.attached? %>
                <p class="questionimage"><%= cl_image_tag(question.photo.key, {class: "questionimage"})%></p>
              <% end %>

              <div class="tags tags-question-show">
                <p><%= raw question.tags.map { |t| "<small class='tag'>#{t.name}</small>" }.join(' ')  %></p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <%= simple_form_for question, html: { class: question.errors.any? ? "" : "d-none update-form", data: { edit_question_target: "form", action: "submit->edit-question#update"} } do |f| -%>
      <%= f.input :title, input_html: { class: 'update-question' } %>
      <%= f.input :content, input_html: { class: 'update-question' } %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Update question", class: "btn btn-blue btn-block mt-2" %>
    <% end %>
</div>
