 <%= stylesheet_link_tag "_questions" %>
<div class="container">
  <div class="row">

          <div class="form-group has-search">
                <%= form_tag questions_path, method: :get do %>
                <span class="fa fa-search form-control-feedback"></span>
                <%# <input type= "text" id="search-bar"> %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "What are you looking for?" %>
                  <%= submit_tag "Search", class: "btn btn-secondary" %>
                <% end %>
          </div>

    <% @questions.each do |question| %>
      <%= link_to question_path(question) do  %>
        <h5><%= question.content %><small>   - Posted by: <%= question.user.first_name%></small></h5>
      <% end %>
    <% end %>
  </div>
</div>

<%# <div class="question-card"> %>
	<%# <div class="user-card"> %>
		<%# <div class="left"> %>
			<%# <img class="profile_img" src="/assets/Brian.jpg" alt=""> %>
		<%# </div> %>
		<%# <div class="right"> %>
			<%# <h2 class="name">Brian Huynh</h2> %>
			<%# <p class="title">Bachelor of Chemical Engineering, University of Adelaide</p> %>
		<%# </div> %>
  <%# </div> %>
<%# </div> %>
