<%= stylesheet_link_tag "_questions" %>
<div class="container-index">
  <div class="row borders" data-controller="question_controller">
    <% @questions.each do |question| %>
      <div class="question-card">
	        <div class="user-card">
            <div class="left">
              <% if question.user.photo.attached? %>
                <%= cl_image_tag question.user.photo.key, class:"avatar-large" %>
              <% else %>
                <%= image_tag('anonymous.webp', class: "avatar-large") %>
              <% end %>
              <div class="wrap">
                <%= link_to upvote_question_path(question), class: "upvote", method: :patch do %>
                  <i id="arrow-up" class="fa-solid fa-caret-up"></i>
                <% end %>
                <div class="count"><%= question.weighted_score %></div>
                <%= link_to downvote_question_path(question), class: "downvote", method: :patch do %>
                  <i id="arrow-down" class="fa-solid fa-caret-down"></i>
                <% end %>
              </div>
            </div>

            <div class="right">
              <div class= "user-bio">
                <div class="user-info">
                  <p class="name"><strong><%= question.user.first_name %></strong>&nbsp;</p>
                  <p class="title">&nbsp;@<%= question.user.about_me %></p>
                  <p id="time-ago">&nbsp;&nbsp;<%= time_ago_in_words(question.created_at)%> ago</p>
                </div>
              </div>

              <div class= "question-content">
                <%= link_to question_path(question) do  %>
                  <h5><%= question.title %></h5>
                <% end %>
              </div>

              <div class="tags">
                <p><small><%= raw question.tags.map { |t| link_to t, tag_path(t) }.join(', ') %></small></p>
              </div>

              <% if question.photo.attached? %>
                <p class="questionimage"><%= cl_image_tag(question.photo.key, {class: "questionimage"})%></p>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
