<div class="container-index">
  <div class="row borders border-bottom">
    <%# QUESTION %>
    <%= render 'question_info', question: @question %>
    <%# LEAVE AN ANSWER %>
    <%= simple_form_for [@question, @answer], html: {class: "my-3 answer-form" } do |f| %>
      <div class="d-flex w-100" style= "height: 60px">
        <%= f.input :content, label: false, wrapper_html: {class: "w-100 h-100" }%>
        <%= f.button :submit, value: "Leave your Answer", class: "btn btn-blue ml-2", style: "flex-shrink: 0;" %>
      </div>
    <% end %>


    <%# HOW MANY ANSWERS %>
    <% if @question.answers.length == 1 %>
      <h5 class="mb-3">1 Answer</h5>
    <% else %>
      <h5 class="mb-3"><%= @question.answers.length %> Answers</h5>
    <% end %>
    <%# ANSWERS TO THE QUESTION %>
    <% @question.answers.each do |answer| %>
        <%= render 'answers/answer_info', answer: answer %>
    <% end %>
</div>
