<!DOCTYPE html>
<html>
  <head>
    <title>Learnest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//db.onlinewebfonts.com/c/35da23d6d7d68a326080792c63a6251b?family=FS+Rosa+Black" rel="stylesheet" type="text/css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
   
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
